
.edit-flight-container {
    .MuiPaper-root {
        border-radius: 20px !important;
        border: none !important;
        box-shadow: none !important;
        max-width: 597px;
        margin: auto;
        padding: 30px;
    }
}